<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>UK Restaurant detail</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    
    	<style>
			[ng\-cloak],[ng-cloak],.ng-cloak{
				display: none;
			}
		</style>
</head>
<body>
<div ng-app="sampleapp" class="container">
   <div ng-controller="samplecontoller" ng-init="searchRestaurant('se19')">
   	<div class="row">
   	 	<div>
    		<h1 class="well"><span class="glyphicon glyphicon-search"></span> Search the restaurantant details to enter the Pincode.</h1>
    			<form  ng-submit="searchRestaurant(enterPincode)" name="myForm">
    				<div class="form-group">
    					<div class="col-xs-2">	
    						<input type="text" class="form-control" value="" placeholder="Enter the outcode"  name="enterPincode" ng-model="enterPincode" required maxlength="7">
    					</div>
    					<div class="col-xs-2">	
    						<button type="submit" class="btn btn-primary">Search</button>
    					</div>
              <div class="col-xs-2">
              <span style="color:red" ng-show="myForm.enterPincode.$dirty && myForm.enterPincode.$invalid">
                  <span ng-show="myForm.enterPincode.$error.required">Outcode is required.</span>
              </span>
            </div>
    				</div>
    			</form>
    		</div>
   		</div>
   <div ng-if="datalists.length > 0" class="row">
   		
			 <div class="table-responsive">
      <table class="table table-striped ">
      <thead><tr><th>Restaurant Name</th><th>Rating of the restaurant</th><th>Types of food for the restaurant</th></tr></thead>
      <tbody>
        <tr class="paginationclass" ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize">
          <td>{{ datalist.Name }}<br>
          {{datalist.Address}},{{datalist.City}} - {{datalist.Postcode}}</td>
          <td>Number of ratings :{{ datalist.NumberOfRatings }}<br>
            Rating stars :{{ datalist.RatingStars }}</td>
          <td>
            <ul class="list-group">
              <li ng-repeat ="c in datalist.CuisineTypes" style="list-style-type: none;">{{$index+1}}.{{c.Name}}</li>
          </ul> 
          </td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
	<div class="pagination pagination-centered" ng-show="datalists.length">
		<ul class="pagination-controle pagination">
 			<li>
 				 <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
 ng-click="curPage=curPage-1"> &lt; PREV</button>
 			</li>
 			<li>
 				<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
			 </li>
			<li>
 		<button type="button" class="btn btn-primary"
 ng-disabled="curPage >= datalists.length/pageSize - 1"
 ng-click="curPage = curPage+1">NEXT &gt;</button>
 			</li>
		</ul>
	</div>
  <div>Some sample PostCode:PL20, UB3, SA1, EX14, TS17, TN17, GU14, NR12, GU10, SN15, EX32 etc</div> 
</div>
<div class="col-xs-12" style="padding-top: 100px;">
 <div class="alert alert-info" ng-show="datalists.length==0">
    No Restaurant details found in entered the postcode!
</div>
</div>
<script  type="text/javascript">
  var app = angular.module("sampleapp", []);
  
app.controller('samplecontoller', ['$scope', '$http', function ($scope, $http) { 
  $scope.searchRestaurant = function(value) {
  $http.defaults.headers.common['Accept-Tenant'] ='uk';
  $http.defaults.headers.common['Accept-Language'] ='en-GB';
  $http.defaults.headers.common.Authorization ='Basic VGVjaFRlc3RBUEk6dXNlcjI=';
  $http.get("https://public.je-apis.com/restaurants?q="+value)
    .then(function(response){
        $scope.datalists = response.data.Restaurants;
        $scope.curPage = 0;
        $scope.pageSize = 5;
        $scope.datalists = response.data.Restaurants;
        $scope.numberOfPages = function() {
        return Math.ceil($scope.datalists.length / $scope.pageSize);
      }
    });
  }
}]);

angular.module('sampleapp').filter('pagination', function()
{
  return function(input, start)
  {
    start = +start;
    return input.slice(start);
  };
})

</script>
</body>
</html>